NEXT_PUBLIC_RPC_URL=https://starknet-sepolia-rpc.publicnode.com
NEXT_PUBLIC_ASP_SERVER_URL=http://127.0.0.1:3001
NEXT_PUBLIC_ZYLITH_POOL_ADDRESS=0x06092fd9593d9ce4a990b1409fa48cb51a36b6e2af4682e0d39e9c7fb515e944
NEXT_PUBLIC_SWAP_VERIFIER_ADDRESS=0x0
NEXT_PUBLIC_LP_VERIFIER_ADDRESS=0x0
NEXT_PUBLIC_TOKEN0_ADDRESS=0x0
NEXT_PUBLIC_TOKEN1_ADDRESS=0x0
