DATABASE_URL=sqlite:asp.db?mode=rwc
STARKNET_RPC_URL=https://starknet-sepolia-rpc.publicnode.com
ZYLITH_POOL_ADDRESS=0x0351eb6856b958e3fbe0551f0777d54fc5eaf45b155aa74b7ce06160cd1f8dde
TOKEN0_ADDRESS=0x04718f5a0fc34cc1af16a1cdee98ffb20c31f5cd61d6ab07201858f4287c938d
TOKEN0_NAME=STRK
TOKEN0_SYMBOL=STRK
TOKEN0_DECIMALS=18
TOKEN0_LOGO=https://cryptologos.cc/logos/starknet-token-strk-logo.png
TOKEN1_ADDRESS=0x053b40a647cedfca6ca84f542a0fe36736031905a9639a7f19a3c1e66bfd5080
TOKEN1_NAME=USDC
TOKEN1_SYMBOL=USDC
TOKEN1_DECIMALS=6
TOKEN1_LOGO=https://cryptologos.cc/logos/usd-coin-usdc-logo.png
STARKNET_ACCOUNT_ADDRESS=0x0
STARKNET_PRIVATE_KEY=0x0
