DATABASE_URL=sqlite:asp.db?mode=rwc
STARKNET_RPC_URL=https://starknet-mainnet.public.blastapi.io
ZYLITH_POOL_ADDRESS=0x049b1ddef5dfc31480b0b91eb109380f56e82efca3c25026b7661c5ac9529d2f
TOKEN0_ADDRESS=0x04718f5a0Fc34cC1AF16A1cdee98fFB20C31f5cD61D6Ab07201858f4287c938D
TOKEN0_NAME=STRK
TOKEN0_SYMBOL=STRK
TOKEN0_DECIMALS=18
TOKEN0_LOGO=https://cryptologos.cc/logos/starknet-token-strk-logo.png
TOKEN1_ADDRESS=0x033068F6539f8e6e6b131e6B2B814e6c34A5224bC66947c47DaB9dFeE93b35fb
TOKEN1_NAME=USDC
TOKEN1_SYMBOL=USDC
TOKEN1_DECIMALS=6
TOKEN1_LOGO=https://cryptologos.cc/logos/usd-coin-usdc-logo.png
STARKNET_ACCOUNT_ADDRESS=0x0
STARKNET_PRIVATE_KEY=0x0
